circle {
    stroke: black;
    stroke-width: 2px;
}


circle.proton {
    fill: #EEEEEE;
}

h1  {
    text-align: center;
    font-family: sans-serif;
}

p   {
    text-align: center;
    font-family: sans-serif;
    margin-left: 25%;
    margin-right: 25%;
}

svg {
    margin: auto;
    display: block;
}