circle {
    stroke: black;
    stroke-width: 2px;
}

circle.proton {
    fill: #EEEEEE;
}

table, th, td {
    margin: auto;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    font-family: "Courier New", monospace;
    padding: 5px;
}

h1, h2  {
    text-align: center;
    font-family: sans-serif;
}

p   {
    text-align: center;
    font-family: sans-serif;
    margin-left: 25%;
    margin-right: 25%;
}

p.equation {
    text-align: center;
    font-family: serif;
}

span.equation {
    font-family: serif;
    font-style: italic;
}
p   .label {
    text-align: right;
}

svg {
    margin: auto;
    display: block;
}
